/*----------------RWD------------*/
$max: "(min-width: 1600px)";
$big: "(min-width: 1202px) and (max-width: 1599px)";
$desktop: "(min-width: 992px) and (max-width: 1201px)";
$tablet: "(min-width: 768px) and (max-width: 991px)";
$smartphone: "(min-width: 577px) and (max-width: 767px)";
$phone: "(min-width: 321px) and (max-width: 576px)";
$smallphone: "(max-width: 320px)"; 


/*-------------------------ZMIENNE-----------------------*/
$fontColor: rgba(59, 58, 58, 0.842);
$fontSizeTitle: 30px;
$fontSizeTitleMedia: 35px;
$bgcColor: rgb(61, 58, 58);


*{
    margin: 0;

}

body {
    background-color: rgb(172, 158, 148);
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.fallsyValue {
    display: block;
    color: rgba(250, 41, 41, 0.808);
    font-size: 20px;
    margin-top: 20px;
    font-weight: 800;
}

.correctValue {
    display: none;
}

.positiveValue {
    display: none;
}

//^^^^^^^^^^^^^^^^^header^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^//

.nav {
    .main_nav {
        position: fixed;
        background-color: rgba(223, 215, 215, 0.774);
        width: 100%;

        ul {
            list-style-type: none;
            display: flex;
            justify-content: center;
            color: $fontColor;
            font-weight: 600;

            @media #{$phone, $smallphone} {
                display: flex;
                justify-content: center;
                flex-direction: row;
                padding: 5px;
            }

            li {
                margin: 10px;
                text-transform: uppercase;
                border-bottom: 2px solid rgba(234, 224, 224, 0.774);
                transition: border-bottom 0.3s linear;
                cursor: pointer;

                &:hover {
                    border-bottom: 2px solid red;
                }
            }
        }
    }

    .name {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;

        h2 {
            font-size: 5em;

            @media #{$phone, $smallphone} {
                font-size: 2em;
            }
        }

        h3 {
            font-size: 2em;
            color: red;

            @media #{$phone, $smallphone} {
                font-size: 2em;
            }
        }
    }

    a {
        text-decoration: none;
        color: #232323;
        transition: color 0.3s ease;
    }

    a:hover {
        color: tomato;
    }
}

// information about empty input value
.modal__information, .modal__information_training {
    font-weight: bold;
    font-family: "Quicksand";
    color: red;
    font-size: 20px;
}

// close button
.content__close, .close_training {
    margin-left: 35px;
    color: #d0c7c7;
    font-size: 92px;
    font-weight: 1000;

    &:hover,
    &:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
}




//button add details
.content__footer {
    width: 100%;
    height: 40px;
    margin-top: 40px;
    margin-bottom: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content__button,
.content__button_training {
    width: 120px;
    height: 40px;
    margin-left: auto;
    margin-right: 10px;
    border: 2px solid darken(#f3f3f3, 10);
    border-radius: 5px;
    font-weight: 600;
    transition: 0.3s;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        transition: 0.3s;
        background-color: darken(#f3f3f3, 10);
        cursor: pointer;
        font-weight: 700;
        color: rgb(70, 66, 66);
    }
}

//button_add and edith
.container__edit img, .container__edit_training img{
    width: 60px;
    height: 60px;
    margin-top: 37%;
    margin-left: 79%;
    position: fixed;
    z-index: 2;
    display: none;
    @media #{$phone, $smallphone} {
        margin-top: 152%;       
    }
}

.container__add, .container__add_training {
    width: 60px;
    height: 60px;
    margin-top: 37%;
    margin-left: 94%;
    position: fixed;
    z-index: 2;
    @media #{$phone, $smallphone} {
       
    }

    img {
        width: 60px;
        height: 60px;
        left: -140px;
        position: absolute;
    }

    &:hover {
        cursor: pointer;
    }
}
//^^^^^^^^^^^^^^^^^section registrationForm  ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^//

.container__add-modal-training {
    display:none;
}

.modal, .modal_training {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 100000;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    overflow-y: scroll;
    display: none;
    

    .modal__content {
        width: 50%;
        height: 100%;
        border: 1px solid red;
        @media #{$phone, $smallphone} {
            width: 90%;
        }
    }
}

.content__title {
    width: 100%;
    height: 40px;
    margin-top: 20px;
    font-weight: bold;
    font-size: 20px;
    background-color: #f3f3f3;
    margin: 5 0 5 0;
    display: flex;
    align-items: center;
    text-align: center;

    h3 {
        text-align: center;
        width: 100%;
    }
}

.content__form {
    display: flex;
    flex-direction: column;
}

.form-row {
    width: 100%;
    margin-top: 40px;
    font-size: 18px;
    color: silver;
    display: flex;
    flex-direction: column;
    align-items: center;

    input {
        height: 35px;
        width: 60%;
        margin-left: 10px;
        background-color: #FEFEFE;
        @media #{$phone, $smallphone} {
            width: 90%;
            margin-left: 0;
        }
    }
}



.addDetails {
    width: 20%;

    .newDetails {
        display: flex;
        justify-content: space-between;
    }
}

.app_body_main_container, .app_body_training_container {
    padding-top: 100px;
}

//add new person

.body__person_details {
    width: 70%;
    @media #{$phone, $smallphone} {
        width: 100%;
    }

    .body__person_details_title {
        font-size: $fontSizeTitle;
        color: $fontColor;
        text-transform: uppercase;
        font-weight: 700;
        transition: border-bottom 0.3s linear;
        border-bottom: 2px solid yellowgreen;
        margin-left: 10px;
        &:hover {
            border-bottom: 2px solid red;
        }
        @media #{$phone, $smallphone} {
            font-size: 23px;
            border-bottom: 2px solid rgb(139, 73, 29);
            padding-bottom: 20px;
        }
    }

    .body_person {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 100px;
        @media #{$phone, $smallphone} {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }

    .title {
        font-size: 25px;
        color: $fontColor;
        text-transform: uppercase;
        font-weight: 600;
        width: 45%;
        height: 45%;
        text-align: center;
        padding-top: 10px;
        @media #{$phone, $smallphone} {
            font-size: 20px;
        }
    }

    .text {
        font-size: 20px;
        color: $fontColor;
        text-transform: uppercase;
        font-weight: 600;
        width: 55%;
        height: 40%;
        border: 1px solid red;
        border-radius: 5px;
        background-color: rgb(172, 158, 148);
        text-align: center;
        padding-top: 12px;
        @media #{$phone, $smallphone} {
            width: 75%;
            height: 18%;
            padding: 12px;
        }

    }
}

#map {
    width: 300px;
    height: 300px;
}

#submit{
    width: 30%;
    height: 40px;
    margin-bottom: 15px;
    background-color:$bgcColor;
    color: white;    
    margin-top: 30px;
    @media #{$phone, $smallphone} {
        width: 50%;
    }
}

.app_body_training_container{
    display: none;
}

.container_add_modal_form {
    display: flex;
    justify-content: center;
    align-content: center;
}