/*----------------RWD------------*/
$max: "(min-width: 1600px)";
$big: "(min-width: 1202px) and (max-width: 1599px)";
$desktop: "(min-width: 992px) and (max-width: 1201px)";
$tablet: "(min-width: 768px) and (max-width: 991px)";
$smartphone: "(min-width: 577px) and (max-width: 767px)";
$phone: "(min-width: 321px) and (max-width: 576px)";
$smallphone: "(max-width: 320px)";


/*-------------------------ZMIENNE-----------------------*/
$fontColor: rgba(59, 58, 58, 0.842);
$fontSizeTitle: 1.7em;
$fontSizeTitleMedia: 35px;
$bgcColor: rgb(61, 58, 58);
$bodyColor: rgb(172, 158, 148);
$fontTextInput: #2c2a2a;